Dependências do Node.js
node_modules

Arquivos de ambiente - NUNCA adicione segredos ao Git
.env
*.env.local


# Logs
*.log


Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

Arquivo do banco de dados SQLite
É recomendado não versionar o banco de dados diretamente,
pois ele mudará constantemente no servidor.
*.db
*.db-journal
darkscript.db

Arquivos do sistema operacional
.DS_Store
Thumbs.db